/Deber2:ExpresionesRegulares/.gradle/
/Deber2/.gradle/
/Deber2/build/
/javafxexample/nbproject/private/
/javafxexample/build/
/javafxexample/dist/
/formas2d/nbproject/private/
/formas2d/build/
/formas2d/dist/
/eventhandling/nbproject/private/
/JavaFXApplication8/nbproject/private/
/eventhandling/build/
/eventhandling/dist/
/UIControls/nbproject/private/
/UIControls/dist/
/UIControls/build/
